<div class="container-md mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="title">Câu chuyện của Pacifist</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-7">
      <h3 class="sub-title">WHY WE DO</h3>
      <p class="content-text">
        Với mong muốn tôn vinh và nâng tầm sắc đẹp Việt Nam, và với Pacifist mỗi
        món trang sức không chỉ là vật phẩm, mà còn là những câu chuyện, kỷ ức
        và cảm xúc được lưu giữ, giúp bạn tỏa sáng và tự tin hơn.
      </p>
      <p class="content-text">
        Pacifist ra đời với mục đích cất giữ, lưu trữ ký ức, câu chuyện của bạn
        trong từng món trang sức của Pacifist. Chúng tôi tin vào những thiết kế
        thanh lịch, sang trọng của mình sẽ mang đến điều đó. Pacifist đến đây là
        để:
      </p>
      <blockquote class="blockquote">
        "Khơi dậy vẻ đẹp tiềm ẩn từ mỗi khoảnh khắc"
      </blockquote>
    </div>
    <div class="col-md-5 text-center">
      <img
        src="assets/images/about_us/img1.png"
        alt="Story Image 1"
        class="img-fluid img1"
      />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <h3 class="sub-title">WHO WE ARE</h3>
      <p class="content-text">
        Pacifist - là thương hiệu trang sức dẫn đầu xu hướng, nổi bật với phong
        cách đơn giản, tinh tế, thanh lịch được thiết kế bởi những người thợ thủ
        công tài hoa, mang đến những tác phẩm trang sức tinh xảo, là biểu tượng
        của sự thanh lịch và vẻ đẹp vượt thời gian. Mỗi thiết kế của Pacifist
        đều là một câu chuyện, một thông điệp về sự yêu thương và hòa hợp.
      </p>
      <blockquote class="blockquote">
        "Pacifist - Đồng hành cùng bạn trong mọi khoảnh khắc quý giá"
      </blockquote>
    </div>
    <div class="col-12 text-center">
      <img
        src="assets/images/about_us/img2.png"
        alt="Story Image 2"
        class="img-fluid img2"
      />
    </div>
  </div>

  <div class="row img3-container">
    <div class="col-sm-6 mt-4">
      <img
        src="assets/images/about_us/img3.png"
        alt="What We Want Image"
        class="img-fluid img3"
      />
    </div>
    <div class="col-sm-6 text3">
      <h3 class="sub-title">WHAT WE WANT</h3>
      <div class="content-text">
        <p>Sứ mệnh của Pacifist gói gọn trong 3 từ đặc biệt chính là</p>
        <blockquote class="blockquote">
          “Thanh lịch - Tinh tế - Bền vững”.
        </blockquote>
        <p><b>Thanh lịch:</b> Kiến tạo vẻ đẹp thanh lịch vượt thời gian</p>
        <p><b>Tinh tế:</b> Tinh tế trong từng đường nét thiết kế</p>
        <p><b>Bền vững:</b> Bền vững trong mọi thời đại</p>
      </div> 
    </div>
  </div>

  <div class="row mt-3 p-3">
    <div class="col-6 text-center">
      <h3 class="sub-title">WHY YOU CHOOSE US</h3>
      <p class="content-text">
        Với Pacifist, trang sức không chỉ là phụ kiện, mà còn là một tuyên ngôn về phong cách sống. Mỗi thiết kế của chúng tôi đều là sự kết hợp hài hòa giữa nét đẹp truyền thống và hiện đại, giữa sự thanh lịch và sự bền vững,  từng đường nét thiết kế được chăm chút kỹ lưỡng. 
      </p>
      <blockquote class="blockquote">
        "Hãy để Pacifist đồng hành cùng bạn trên mọi hành trình."
      </blockquote>
      <div class="text-center">
        <img
          src="assets/images/about_us/img4.png"
          alt="Why Choose Us Image"
          class="img-fluid img4"
        />
      </div>
    </div>
    <div class="col-6 text-center">
      <div class="row">
        <div class="col-6 mb-3">
          <div class="feature-icon">
            <img
              src="assets/images/about_us/quality.png"
              alt="Quality Assurance"
              class="img-fluid icon"
            />
            <p class="feature-title">Đảm bảo chất lượng</p>
            <p class="content-text">Trang sức được chế tác tỉ mỉ, đảm bảo chất lượng, có độ bền cao</p>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="feature-icon">
            <img
              src="assets/images/about_us/freeship.png"
              alt="Fast Delivery"
              class="img-fluid icon"
            />
            <p class="feature-title">Giao hàng nhanh chóng</p>
            <p class="content-text">Vận chuyển nhanh chóng, miễn phí giao hàng trên toàn quốc </p>
          </div>
        </div>
        <div class="col-6">
          <div class="feature-icon">
            <img
              src="assets/images/about_us/support.png"
              alt="Timely Support"
              class="img-fluid icon"
            />
            <p class="feature-title">Hỗ trợ kịp thời</p>
            <p class="content-text">
                Mọi thắc mắc sẽ được đội ngũ của Pacifist giải đáp kịp thời
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="feature-icon">
            <img
              src="assets/images/about_us/discount.png"
              alt="Best Price"
              class="img-fluid icon"
            />
            <p class="feature-title">Giá cả ưu đãi</p>
            <p class="content-text">Pacifist luôn cố gắng đem đến cho bạn giá cả tốt nhất</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 mb-5">
    <a class="col-12 text-center button-text" href="/Products">
      <button class="btn btn-outline-primary px-5" style="font-weight: bold; color: black; font-size: 1.15rem;">Mua ngay</button>
    </a>
  </div>

</div>
