<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-body" style="background-color: #e9ecef;">
                        <h4 class="card-title fw-bold">Quên mật khẩu</h4>
                        <p class="text-justify">Vui lòng nhập địa chỉ email đã đăng ký. Chúng tôi sẽ gửi cho bạn một mã xác minh qua email để đặt lại mật khẩu của bạn.</p>
                        <form>
                            <div class="form-group mx-2">
                                <label class="fw-bold ms-1" for="email">Địa chỉ email</label>
                                <input type="email" class="form-control my-2 mb-4" id="email" placeholder="˚˖𓍢ִ໋🌷͙֒✧˚.🎀༘⋆⋆⭒˚.⋆🪐 ⋆⭒˚.⋆" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-teal mb-2">Đặt lại mật khẩu</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
