<div class="container-md mt-4">
    <h2 class="title">CÁC CHÍNH SÁCH CHUNG</h2>
    <p class="content_text">
        Chào mừng bạn đến với <b>Pacifist</b>.
    </p>
    <p class="content_text">
        Chúng tôi là <b>Pacifist</b>, thương hiệu trực thuộc Công Ty Cổ Phần Pacifist (CTCP Pacifist) có địa chỉ đăng ký tại số 669 đường Quốc lộ 1, Khu phố 3, phường Linh Xuân, quận Thủ Đức, TP. Hồ Chí Minh. Mã Số Thuế (MST) là: 0 2 2 4 0 6 2 0 0 4. Thành lập Sàn Giao Dịch Thương Mại Điện Tử thông qua website www.pacifist.vn đã được đăng ký chính thức với Bộ Công Thương Việt Nam.
    </p>
    <p class="content_text">
        Khi bạn truy cập vào website Pacifist.vn đồng nghĩa với việc bạn đã đồng ý với các điều khoản sử dụng mà chúng tôi đưa ra. <b>“Điều Khoản Sử Dụng”</b> có thể được thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào, bất kỳ lúc nào và có hiệu lực ngay khi được đăng tải. Dưới đây là chi tiết của <b>“Điều Khoản Sử Dụng”</b> mà chúng tôi mong muốn bạn nắm kỹ trong quá trình sử dụng website để có những trải nghiệm mua sắm an toàn và tốt nhất.
    </p>
    <hr style="border: 4px solid #8CC2DC;">

    <p class="sub_title">1. Thương hiệu bản quyền</p>
    <p class="content_text">
        Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, hình ảnh, video, âm nhạc, mã nguồn,… trong phạm vi website bạn đang xem đều thuộc sở hữu tài sản của <b>Pacifist</b>. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế.
    </p>
    <hr>

    <p class="sub_title">2. Quy định về truy cập và quyền sử dụng Website</p>
    <div class="content_text">
        <p>
            Khi truy cập vào website của chúng tôi, bạn cần đảm bảo việc bạn có đủ hành vi dân sự để thực hiện các giao dịch mua hàng theo quy định hiện hành của pháp luật Việt Nam. Hãy đảm bảo rằng bạn đã đủ 16 tuổi hoặc truy cập dưới sự giám sát của các thành viên trong gia đình hay người giám hộ hợp pháp.
        </p>
        <p>
            Trong suốt quá trình đăng ký, sử dụng website,… bạn có toàn quyền quyết định mình sẽ được nhận thư quảng cáo, tin tức về các chương trình khuyến mãi thông qua Email mà bạn đã đăng ký hay không. Nếu không muốn tiếp tục nhận Email từ <b>Pacifist</b>, bạn cũng có toàn quyền từ chối bằng cách nhấp vào đường dẫn ở dưới cùng trong thư điện tử được gửi đến bất kỳ.
        </p>
        <p>
            <b>Pacifist</b> không mong muốn bạn sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào nội dung, hệ thống hay làm thay đổi cấu trúc dữ liệu của website chúng tôi. Các hình thức phát tán, truyền bá, cổ vũ không được phép hay can thiệp, thay đổi, xóa bỏ nội dung, cấu trúc dữ liệu hệ thống của chúng tôi một cách bất hợp pháp đều sẽ có hình thức xử lý từ <b>Pacifist</b>. Mọi cá nhân hoặc tổ chức nếu vi phạm sẽ chịu truy tố trước pháp luật và phải bồi thường thiệt hại đã gây ra.
        </p>
    </div>
    <hr>

    <p class="sub_title">3. Quy định về bảo mật thông tin</p>
    <p class="content_text">
        <b>Pacifist</b> luôn coi trọng việc bảo mật thông tin và cam kết sẽ sử dụng mọi biện pháp tốt nhất nhằm bảo vệ thông tin bạn đã cung cấp cho chúng tôi.
    </p>
    <p class="content_text">
        Ở một mặt khác, bạn hoàn toàn có thể truy cập vào website và trình duyệt mà không cần phải cung cấp chi tiết cá nhân. Thông tin của bạn, nếu có, cũng đều sẽ được mã hóa để đảm bảo an toàn trong suốt quá trình giao dịch tại website <b>Pacifist</b>. Riêng trường hợp được cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.
    </p>
    <p class="content_text">
        Vui lòng xem kỹ hơn quy định tại phần <a href="">Chính sách bảo mật thông tin</a>.
    </p>
    <p class="content_text">
        <b>Pacifist</b> tuân thủ các biện pháp đảm bảo an toàn/ bảo mật thông tin tài khoản thanh toán cá nhân theo quy định của pháp luật cũng như các quy định và các khuyến nghị về giám sát của Ngân hàng Nhà nước.
    </p>
    <hr>

    <p class="sub_title">4. Điều khoản về thông tin sản phẩm, giá cả, dịch vụ và các nội dung khác</p>
    <p class="content_text">
        Chúng tôi cam kết sẽ cung cấp thông tin sản phẩm, giá cả, dịch vụ và nội dung khác chính xác nhất đến người dùng. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá cả sản phẩm, phí vận chuyển, hình ảnh sản phẩm,… không hiển thị chính xác ở một vài thời điểm và trên một số thiết bị. Tùy theo từng trường hợp cụ thể, <b>Pacifist</b> sẽ liên hệ trực tiếp nhằm hướng dẫn hoặc thông báo đến bạn để khắc phục và xử lý.
    </p>
    <hr>

    <p class="sub_title">5. Phương thức thanh toán</p>
    <p class="content_text">
        Hiện tại, chúng tôi đang có các phương thức thanh toán khi đặt mua hàng tại Website pacifist.vn như sau:
        <ul>
            <li>COD (cash on delivery): là hình thức thanh toán trực tiếp bằng tiền mặt khi bạn nhận hàng.</li>
            <li>Thanh toán bằng thẻ nội địa: được phát hành bởi các ngân hàng trong nước (Vietcombank, Vietinbank, Sacombank,…). Lưu ý: Thẻ của bạn cần được đăng ký dịch vụ thanh toán trực tuyến tại ngân hàng để có thể sử dụng được hình thức này.</li>
            <li>Thanh toán bằng thẻ quốc tế: được các ngân hàng trong nước liên kết với những tổ chức thẻ quốc tế (Visa, Master Card, JCB,…) phát hành.</li>
            <li>Thanh toán bằng QR Code thông qua cổng thanh toán điện tử</li>
        </ul>  
    <hr>

    <p class="sub_title">6. Chính sách khuyến mãi</p>
    <p class="content_text">
        Với mong muốn giúp bạn có những trải nghiệm mua sắm tốt nhất, <b>Pacifist</b> sẽ áp dụng một số chính sách khuyến mãi cố định hoặc tùy thời điểm về phí giao hàng, quà tặng và ưu đãi đặc biệt.
    </p>
    <hr>

    <p class="sub_title">7. Thay đổi hoặc hủy bỏ giao dịch</p>
    <p class="content_text">
        Bạn được quyền thay đổi hoặc chấm dứt giao dịch theo hướng dẫn như sau: <br>
        Ở phần tra cứu đơn hàng, ngoài việc theo dõi quy trình xử lý, bạn cũng có thể trực tiếp hủy bỏ đơn hàng nếu đơn hàng đó chưa được chuyển qua giao nhận. Trong trường hợp đơn hàng đã được <b>Pacifist</b> chuyển qua đơn vị giao nhận, bạn vui lòng liên hệ trực tiếp với bộ phận <b>Customer Service</b> qua số hotline <b>02839951703</b> để được hướng dẫn chi tiết hơn. Ngoài ra, bạn cũng có thể liên lạc với bộ phận <b>Customer Service</b> trong trường hợp có thay đổi thông tin đơn hàng hay mong muốn đổi qua một sản phẩm khác.
    </p>
    <hr>

    <p class="sub_title">8. Quyền pháp lý</p>
    <p class="content_text">
        Bạn có toàn quyền yêu cầu chúng tôi sửa lại những sai sót trong dữ liệu của bạn. Bất cứ lúc nào bạn cũng có quyền yêu cầu chúng tôi ngưng sử dụng dữ liệu cá nhân của bạn cho mục đích tiếp thị hoặc ngưng nhận thông tin quảng cáo, khuyến mãi từ <b>Pacifist</b> thông qua Email. <br>
        Các điều kiện, điều khoản và nội dung tại website được điều chỉnh theo luật pháp Việt Nam và Tòa Án có thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nếu có phát sinh từ việc sử dụng trái phép nội dung.
    </p>

</div>