<div class="container-md mt-4">
    <h2 class="title">CHÍNH SÁCH BẢO MẬT THÔNG TIN</h2>
    <p class="content_text">
        <b>Pacifist</b> (đơn vị chủ quản hệ thống website www.pacifist.vn) cam kết tôn trọng, bảo mật những thông tin mang tính riêng tư của bạn. Chúng tôi hiểu rằng bạn cần biết chúng tôi quản lý những thông tin cá nhân được tập hợp từ website như thế nào. Hãy đọc và tìm hiểu về “Chính Sách Bảo Mật Thông Tin” dưới đây trước khi truy cập những nội dung khác để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người dùng. Việc bạn truy cập, đăng ký, sử dụng website Pacifist.vn có nghĩa rằng bạn đồng ý và chấp nhận ràng buộc bởi các điều khoản của bản quy định bảo mật của chúng tôi.
    </p>
    <hr style="border: 4px solid #8CC2DC;">

    <p class="sub_title">1. Thông tin cá nhân</p>
    <p class="content_text">
        <b>Pacifist</b> chỉ yêu cầu các thông tin cá nhân của bạn như:
    </p>
    <ul>
        <li>Họ và Tên</li>
        <li>Ngày, tháng, năm sinh</li>
        <li>Địa chỉ Email</li>
        <li>Số điện thoại</li>
        <li>Địa chỉ (dùng cho mục đích quản lý đơn hàng, giao nhận)</li>
    </ul>
    <p class="content_text">
        Cùng các thông tin không bắt buộc khác khi bạn muốn tương tác với một số nội dung trên <b>Pacifist</b>. Các thông tin cá nhân của bạn sẽ được <b>Pacifist</b> sử dụng để nhận diện và liên hệ với bạn khi cần.
    </p>
    <hr>

    <p class="sub_title">2. Cách thức sử dụng thông tin</p>
    <p class="content_text">
        Thông thường, chúng tôi sử dụng các thông tin bạn cung cấp chỉ để liên hệ, hồi đáp những câu hỏi hay xác nhận thông tin đơn hàng theo tên, địa chỉ và số điện thoại mà bạn đã cung cấp. Chúng tôi cam kết thông tin cá nhân của bạn sẽ không bị chia sẻ với bất kỳ một bên thứ ba nào khi chưa có sự đồng ý. Chúng tôi chỉ có thể được phép chia sẻ thông tin với các đối tác giao nhận hoặc với các đối tác trong các chương trình, dự án liên kết khác. Dữ liệu khách hàng của <b>Pacifist</b> có thể được chuyển nhượng cho người kế thừa hay người được chỉ định theo thỏa thuận để quản lý khi công ty có sự mua bán, sát nhập hay tuyên bố phá sản.
    </p>
    <hr>

    <p class="sub_title">3. Đảm bảo an toàn với các thông tin đã được thu thập</p>
    <p class="content_text">
        <b>Pacifist</b> chỉ tập hợp lại các thông tin cá nhân của bạn trong phạm vi phù hợp và cần thiết cho mục đích cải thiện chất lượng phục vụ cũng như nâng cao trải nghiệm các dịch vụ được <b>Pacifist</b> cung cấp. Chúng tôi cam kết tôn trọng và luôn duy trì các biện pháp thích hợp nhằm đảm bảo tính an toàn, vẹn nguyên, độ chính xác cùng tính bảo mật về các thông tin mà bạn đã tin tưởng để cung cấp cho chúng tôi. Ngoài ra, <b>Pacifist</b> cũng cam kết có những biện pháp thích hợp nhằm đảm bảo tính an toàn, tính bảo mật về mọi thông tin tuân thủ theo các văn bản pháp luật hiện hành về bảo vệ dữ liệu cho người tiêu dùng đã cung cấp cho chúng tôi trong các chương trình hay sự liên kết với các đối tác, các bên thứ ba.
    </p>
    <hr>

    <p class="sub_title">4. Cookies</p>
    <p class="content_text">
        Cookies là những tệp nhỏ phát sinh trong quá trình bạn truy cập, hoạt động trên Website được <b>Pacifist</b> ghi chép lại nhằm mục đích đáp ứng các nhu cầu của người sử dụng và nhiều mục đích khác.
    </p>
    <hr>

    <p class="sub_title">5. Liên kết với các websites khác</p>
    <p class="content_text">
        Nếu bạn nhấn đường liên kết sang Website của bên thứ ba, bạn sẽ tạm rời khỏi <b>Pacifist</b> để đến trang Web mà bạn đã chọn. <b>Pacifist</b> không thể kiểm soát các hoạt động của bên thứ ba và không chịu trách nhiệm về sự an toàn hay bất kể những nội dung gì có trên website đó.
    </p>
    <hr>

    <p class="sub_title">6. Điều khoản thay đổi</p>
    <p class="content_text">
        Chúng tôi có toàn quyền thay đổi, bổ sung nội dung của các điều khoản này. Bạn có thể thường xuyên kiểm tra nhằm nắm được các điều khoản thay đổi trong <b>“Chính Sách Bảo Mật Thông Tin”</b> của chúng tôi. Thêm vào đó, đối với những thay đổi quan trọng về cách sử dụng liên quan đến các thông tin cá nhân mà bạn cung cấp cho <b>Pacifist</b>, chúng tôi sẽ gửi thông báo cho bạn bằng Email hoặc thông báo trên các kênh truyền thông chính thức khác của <b>Pacifist</b>. Trong trường hợp bạn có thắc mắc về các điều khoản hay cách sử dụng liên quan đến các thông tin cá nhân của bạn tại website Pacifist.vn, xin liên hệ với chúng tôi theo địa chỉ Email: <b>pacifistsupport&#64;gmail.com</b>.
    </p>
</div>
