
      <div class="form-container mx-5 w-60">
        <h3 class="text-center mb-4 fw-bold">Đổi mật khẩu</h3>
        <form
          (ngSubmit)="handleChangePassword(FormChangPassword)"
          #FormChangPassword="ngForm"
        >
          <div class="mb-3 form-group">
            <label for="password" class="form-label">Mật khẩu hiện tại</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="passowrd"
              [(ngModel)]="currentPassword"
              required
              placeholder="Nhập mật khẩu hiện tại"
              (input)="handleChangeCurrentPassword()"
            />
            <div *ngIf="error.currentPassword" class="text-danger small">
              {{ error.currentPassword }}
            </div>
          </div>

          <div class="mb-3 form-group">
            <label for="password" class="form-label">Mật khẩu mới</label>
            <input
              type="password"
              class="form-control"
              id="new-password"
              name="new-password"
              [(ngModel)]="newPassword"
              required
              placeholder="Nhập mật khẩu mới"
              (input)="handleChangeNewPassword()"
            />
            <div *ngIf="error.newPassword" class="text-danger small">
              {{ error.newPassword }}
            </div>
          </div>
          <div class="mb-3 form-group">
            <label for="confirm-password" class="form-label"
              >Xác thực lại mật khẩu mới</label
            >
            <input
              type="password"
              class="form-control"
              id="confirm-password"
              name="confirm-passowrd"
              [(ngModel)]="confirmNewPassword"
              placeholder="Nhập lại mật khẩu mới"
              (input)="handleChangeConfirmNewPassword()"
            />
            <div *ngIf="error.confirmNewPassword" class="text-danger small">
              {{ error.confirmNewPassword }}
            </div>
          </div>

          <div class="text-end">
            <button class="btn btn-info btn-teal">Lưu thay đổi</button>
          </div>
        </form>
      </div>

