/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* ━━━━⊱⋆⊰━━━━━━━━⊱⋆⊰━━━━--🎀˖°.🎃࿔˚˖𓍢ִ໋🍃˚.⛰️⋆☁️-- COLOR VARIABLE CSS -🌊☆⋆｡🪼𖦹°‧★🐚-━━━━⊱⋆⊰━━━━━━━━⊱⋆⊰━━━━━━━━⊱⋆⊰━━━━*/

  /*── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──  gán biến cho mã màu (để dễ nhớ dễ gọi) ── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──*/
  /*── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──    biến phải bắt đầu bằng "--"   ── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──*/
  /*── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──    pcf viết tắt cho pacifist   ── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ──── ⊹ ࣪ ˖♡˖ ࣪ ⊹ ── */
  
:root {
  --pcf-white: #ffffff;
  --pcf-teal: #a7d0e4;
  --pcf-dark-teal: #6992a5;
  --pcf-light-teal: #c2e8f2;
  --pcf-dark-teal: #82c4d4;
  --pcf-light-dark: #505050;
  --pcf-light-gray: #b1aeae;
  --pcf-zalo: #4d96f4;
  --pcf-google: #fe3c3a;
  --pcf-neutral: #f9f9f9;
  --pcf-green: #03a383;
}

@keyframes rainbowShift {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/*₊˚ ✧ ‿︵‿୨୧‿︵‿ ✧ ₊˚₊˚ ✧ ‿︵‿୨୧‿︵‿ ✧ ₊˚Global CSS for Web₊˚ ✧ ‿︵‿୨୧‿︵‿ ✧ ₊˚₊˚ ✧ ‿︵‿୨୧‿︵‿ ✧ ₊˚*/
/*─── ⋆⋅☆⋅⋆ ────── ⋆⋅☆⋅⋆ ────── ⋆⋅☆⋅⋆ ────── ⋆⋅☆⋅⋆   Đã mặc định font   ⋆⋅☆⋅⋆ ────── ⋆⋅☆⋅⋆ ────── ⋆⋅☆⋅⋆ ────── ⋆⋅☆⋅⋆ ───*/
* {
  font-family: "Noto Serif", serif;
  transition: all 0.3s ;
}


.fw-bold {
  font-weight: 800!important;
}

/*                                                           Rainbow 
⬜⬜⬛⬛⬛⬛⬛⬜⬜⬜⬜⬜⬛⬛⬛⬛⬛⬜⬜        ⎛⎝ ≽ > ⩊ < ≼ ⎠⎞     🍓❤️🔥🧡✨💛🐝♻️💚🥑💎💙💙💜🔮
⬜⬛🟪🟪🟪🟪🟪⬛⬜⬜⬜⬛🟩🟩🟩🟦🟦⬛⬜                               ❤️🧡🧡🌻💛🍯🐢🍏💚💙💙💙💟💜💜
⬛⬛🟪🟪🟪🟧🟧🟧⬛⬜⬛🟩🟩🟩🟦🟦🟦⬛⬛            (˶ᵔ ᵕ ᵔ˶)          🧡🦊👑💛💡💚✅💚💙🌊💙😈🔮💜💜
⬛🟪🟪🟪🟧🟧🟨🟨🟨⬛🟩🟩🟩🟦🟦🟦🟦🟪⬛                               🐥🌻✨💛♻️💚💚💙💙💙💎💜💜💟💮
⬛🟪🟪🟧🟧🟧🟨🟨🟨🟩🟩🟩🟦🟦🟦🟦🟪🟪⬛            (｡•̀ᴗ-)✧            💛🐝💛🥑🐢💚💤💎💙💙💜🔮😈🪱🧶
⬛🟪🟧🟧🟧🟧🟨🟨🟨🟩🟩🟩🟦🟦🟦🟦🟪🟪⬛                               👑💛🍏🍀🍏🌍💙💤😈💜💜💜🌷💗💗
⬛🟧🟧🟧🟨🟨🟨🟩🟩🟩🟩🟦🟦🟦🟦🟪🟪🟪⬛         𝑴𝒆𝒐𝒘. ฅ(•- •マ       💛🐝💛🥑🐢💚💤💎💙💙💜🔮😈🪱🧶
⬛⬛🟧🟧🟨🟨🟩🟩🟩🟩🟩🟦🟦🟦🟪🟪🟪⬛⬛                               👑💛🍏🍀🍏🌍💙💤😈💜💜💜🌷💗💗
⬜⬛🟧🟨🟨🟨🟩🟩🟩🟩🟦🟦🟦🟦🟪🟪🟪⬛⬜            (⸝⸝•ᴗ•⸝⸝)           🌻💚💚💚💙🌀💙🌆💜👾💜💗🦑💗💗
⬜⬜⬛🟨🟩🟩🟩🟩🟩🟦🟦🟦🟦🟪🟪🟪⬛⬜⬜                               💚🍀🐢💙💎💙💙👾💜🌆🦑🧶💗💕💗
⬜⬜⬛🟨🟩🟩🟩🟩🟩🟦🟦🟦🟪🟪🟪🟪⬛⬜⬜          𝕾𝖐𝖎𝖇𝖎𝖉𝖎 𝕿𝖔𝖎𝖑𝖊𝖙         ✅💚💙🌊💙💙🔮💜💜💗💮💗💗👛🦢
⬜⬜⬜⬛⬛🟩🟩🟩🟩🟦🟦🟪🟪🟪⬛⬛⬜⬜⬜                               💚💙💙💙💙😈💜👾💗👛💗🌷🪱🤍🎲
⬜⬜⬜⬜⬛⬛🟩🟩🟦🟦🟪🟪🟪⬛⬛⬜⬜⬜⬜            ٩(^ᗜ^ )و ♪        🧊🌀💙🧊💜💜💜💗🌷💗💗💗🐚👻🤍
⬜⬜⬜⬜⬜⬛⬛⬛🟦🟦🟦⬛⬛⬛⬜⬜⬜⬜⬜                               💙💙👾💜👾💜🪱🦑🦑💗💗🎲🤍🦢🤍
⬜⬜⬜⬜⬜⬜⬜⬛⬛🟦⬛⬛⬜⬜⬜⬜⬜⬜⬜            (✿ᴗ͈ˬᴗ͈)⁾⁾          🌀💜💜🔮💜👛🧶💮💗🧶🤍👻🤍🤍🐚
⬜⬜⬜⬜⬜⬜⬜⬜⬛⬛⬛⬜⬜⬜⬜⬜⬜⬜⬜                               👾🔮😈💜🌷💗💗👛💗🤍🤍🦢🤍🦢🤍
⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜    ▶︎ •၊၊||၊|။||||| 0:10 ฅᨐฅ   💟💜💜🦑💗💕🦑💗🤍🦢🤍☁️🤍🤍🌈
*/

.rainbow-box:hover {
  background: linear-gradient(
    130deg,
    #ef476f,
    #ffd166,
    #06d6a0,
    #118ab2,
    #073b4c

  );
  background-size: 200% 200%;
  animation: rainbowShift 5s linear infinite;

}

.rainbow-box2:hover {
  background: linear-gradient(
    90deg,
    #cdb4db,
    #ffc8dd,
    #ffafcc,
    #bde0fe,
    #a2d2ff

  );
  background-size: 200% 200%;
  animation: rainbowShift 5s linear infinite;

}


/*══════⊹⊱≼≽⊰⊹════════════⊹⊱≼≽⊰⊹  template mấy cái nút đó, có nút xanh teal teal đó   ⊹⊱≼≽⊰⊹════════════⊹⊱≼≽⊰⊹══════*/
/*══════⊹⊱≼≽⊰⊹════════════⊹⊱≼≽⊰⊹══════   thấy giống màu clay hơn @@      ══════⊹⊱≼≽⊰⊹════════════⊹⊱≼≽⊰⊹══════*/
.btn-teal {
  /* width: 10rem; */
  /* height: 3rem; */
  /* padding: 10px; */
  background-color: var(--pcf-teal);
  color: var(--pcf-white);
  border: none;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  transition: all 0.3s ;
}

.btn-outline-teal {
  /* width: 10rem; */
  /* height: 3rem; */
  /* padding: 10px; */
  background-color: none;
  color: black;
  border: 2.5px solid var(--pcf-light-teal);
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ;

}

.btn-outline-teal:hover {
  background-color: var(--pcf-light-teal);
  border: 2.5px solid var(--pcf-light-teal);
  margin-left: auto;
  margin-right: auto;
}

.bg-teal {
  background-color: var(--pcf-teal);
  
}


.btn-grow-big:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.btn-dark:hover {
  background-color: var(--pcf-light-dark);
}

.form-check-input,
.form-check-label {
  cursor: pointer;
}

/*⠄･ ⋆ ･ ⠄⠂⋆ ･ ⠄⠂⋆ ･ ⠄⠄･ ⋆ ･ ⠄⠂⋆ ･ ⠄⠂⋆ ･ ⠄ Gạch ngang dash, dot ⠄･ ⋆ ･ ⠄⠂⋆ ･ ⠄⠂⋆ ･ ⠄⠄･ ⋆ ･ ⠄⠂⋆ ･ ⠄⠂⋆ ･ ⠄*/
hr {
  border: none;
  background-color: var(--pcf-teal);
  filter: saturate(5) brightness(0.9);
  height: 4px;
}

hr.dashed {
  border: none;
  height: 0px;
  border-top: 4px dashed var(--pcf-white);
  filter: saturate(5) brightness(1);
  margin: 20px 0;
}

.fs-7 {
  font-size: 0.9rem;
}

.bg-transparent {
  background-color: transparent;
}
.bg-neutral {
  background-color: var(--pcf-neutrals);
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* 

⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⣤⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣶⣿⠟⠉⠉⠻⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣾⠿⠉⠀⠀⠀⠀⠀⠹⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⣾
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⣾⡿⠛⠉
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣾⡿⠟⠁⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣴⣿⡿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣷⣶⣶⣦⣤⣤⣄⡀⠀⢀⣠⣾⣿⠿⠋⠀⠀⠀⠀⠀⣠
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⠶⠞⣿⠟⠋⠉⠉⠙⣻⠿⢿⣿⣿⣿⠟⠁⠀⠀⠀⠀⠀⢀⡼⠁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⠁⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⠟⠁⢠⡞⠁⠀⠀⠀⢀⡴⠋⠀⢀⡿⠋⠁⠀⠀⠀⠀⠀⠀⠀⡞⠁⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣼⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠃⠀⢠⠏⠀⠀⠀⠀⣰⠏⠀⠀⣠⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡥⠤⡀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⣇⠀⣠⡏⠀⠀⠀⠀⣼⠁⠀⠀⣰⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡴⠁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣄⣄⣼⣿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡶⠋⠀⠀⠀⠀⢸⣧⠀⠀⣴⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢧⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⠀⠀⠀⠀⣾⡿⠿⣿⡿⠁⠀⠀⠀⠀⠀⠀⣠⣶⣶⣶⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠛⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠳
⠀⠀⠀⠀⠀⠀⢀⣾⠿⠛⢿⣿⣷⣄⡀⣿⠃⠀⠈⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⣠⣤⣦⣼⣿⠀⠀⠀⣿⣿⣿⣿⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⡿⠀⠀⠀⢀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⣾⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀
⠀⣠⣾⡿⠋⠉⠉⠁⠀⠀⠀⠀⠉⢯⡙⠻⣿⣿⣷⣤⡀⠀⠀⠀⠀⢿⣿⣿⣿⣿⡿⠃⢀⡤⠖⠋⠉⠉⠉⠉⠉⠉⠒⠦⣄⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀
⣾⣿⠋⠀⠀⠀⠀⣀⣀⠀⠀⠀⠀⠀⠙⢦⣄⠉⠻⢿⣿⣷⣦⡀⠀⠈⠙⠛⠛⠋⠀⢰⠟⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠳⣄⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀
⣿⡇⠀⠀⠀⣴⠟⣫⣿⣿⣄⠀⠀⠀⠀⡶⢌⡙⠶⣤⡈⠛⠿⣿⣷⣦⣀⠀⠀⠀⠀⡇⠀⢻⣄⠀⠀⣠⢷⠀⠀⠀⠀⠀⡶⠀⠘⡆⠀⠀⠻⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀
⣿⡇⠀⠀⢸⣟⢸⣿⣿⣿⣿⠀⠀⠀⠀⡇⠀⠈⠛⠦⣝⡳⢤⣈⠛⠻⣿⣷⣦⣀⠀⠀⠀⠀⠈⠙⠋⠁⠀⠛⠦⠤⠤⠚⠁⠀⠀⢳⠀⠀⠀⠈⠛⠿⠿⠿⠟⠋⠀⠀⠀⠀⠀⠀⠀
⣿⡇⠀⠀⠈⢿⣞⣿⣿⣿⠏⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠙⠳⢬⣛⠦⠀⠙⢻⣿⣷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⡇⠀⠀⠀⠀⠉⠛⠋⠁⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠀⠀⠈⣿⠉⢻⣿⣷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡼⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⡇⠀⠀⠀⠀⠀⣠⣄⠀⠀⢰⠶⠒⠒⢧⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠀⢸⡇⢸⡟⢿⣷⣦⣴⣶⣶⣶⣶⣤⣔⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⡇⠀⠀⣤⠀⠀⠿⠿⠁⢀⡿⠀⠀⠀⡄⠈⠙⡷⢦⣄⡀⠀⠀⠀⠀⠀⠀⠀⣿⠀⢸⡇⢸⡇⠀⣿⠙⣿⣿⣉⠉⠙⠿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⡇⠀⠀⠙⠷⢤⣀⣠⠴⠛⠁⠀⠀⠀⠇⠀⠀⡇⢸⡏⢹⡷⢦⣄⡀⠀⠀⠀⣿⡀⢸⡇⢸⡇⠀⡟⠀⢸⠀⢹⡷⢦⣄⣘⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⠢⣤⡀⠀⠀⠀⠀⠀⠀⣠⠾⣿⣿⡷⣤⣀⡇⠸⡇⢸⡇⢸⠉⠙⠳⢦⣄⡻⢿⣾⣧⣸⣧⠀⡇⠀⢸⠀⢸⡇⢤⣈⠙⠻⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢹⣿⣷⣌⡉⠛⠲⢶⣶⠖⠛⠛⢶⣄⡉⠛⠿⣽⣿⣶⣧⣸⡇⢸⠀⠀⠀⠀⠈⠙⠲⢮⣝⠻⣿⣷⣷⣄⣸⠀⢸⡇⠀⠈⠁⠀⢸⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠈⠙⠻⢿⣷⣶⣤⣉⡻⢶⣄⣀⠈⠙⠳⢦⣈⡉⠻⢿⣿⣷⣾⣦⡀⠀⠀⠀⠀⠀⠀⠈⠙⠲⢭⣛⠿⣿⣷⣼⡇⠀⠀⠀⠀⠈⣿⡇⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⠀⠀⠀⠀⣀
⠀⠀⠀⠀⠀⠈⠙⠻⢿⣿⣷⣶⣽⣻⡦⠀⠀⠈⠙⠷⣦⣌⡙⠻⢿⣟⣷⣤⣀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠳⢯⣻⡇⠀⠀⠀⠀⠀⢸⣿⠀⣀⠀⠀⠀⠀⠈⠳⣄⠀⠀⠀⢀⡏⠙⠛
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⢿⣿⣿⣿⣶⣤⣤⣤⣀⣈⠛⠷⣤⣈⡛⠷⢽⡻⢶⣄⣀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠳⢤⣀⠀⠀⢸⣿⡀⠈⠳⢤⣀⣀⣰⠃⠈⠛⠶⠶⠿⠃⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣿⡿⠛⠉⠙⠛⠛⠻⢷⣦⣄⣩⣿⠶⠖⠛⠛⠛⠛⠛⠛⠿⢷⣶⣦⣄⠀⠀⠀⠀⠉⢻⣶⣿⣿⠇⠀⠀⠀⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⠁⠀⠀⠀⠀⠀⠀⠀⣿⣿⠋⠀⠀⠀⠀⠀⣠⠖⠂⠀⠀⠀⠈⠙⠿⣿⣦⡄⠀⠀⣸⣿⠟⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⣰⠊⠁⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣶⣄⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⢸⣧⠀⠀⢀⠞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡠⠙⢿⣿⣇⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡿⠿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡿⠦⠠⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠧⠤⠄⠙⡿⠿⠦⠤⠤⠤⠤⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀


*/
