<div class="container">
    <div class="collection-item container">
        <img src="assets\images\sales_off\133805ddbd0e998ef23335e0d4cb96fd.png" class="sale-image"/>
    </div>
    <div class="row text-center justify-content-end mt-4 mb-5">
        <div class="col-md-12">
            <div class="position-relative fs-2 fw-bold">Ưu đãi tháng 11</div>
            <div class="fs-5">Tỏa sáng cùng ưu đãi đặc biệt - Lấp lánh mọi khoảnh khắc!</div>
        </div>
    </div>
    <app-products></app-products>
</div>    
