.star-rating {
    direction: rtl;
    font-size: 4rem;
    unicode-bidi: bidi-override;
    display: inline-flex;
  }

  .star-rating input {
    display: none;
  }

  .star-rating label {
    color: #ccc;
    cursor: pointer;
  }

  .star-rating label:hover,
  .star-rating label:hover ~ label,
  .star-rating input:checked ~ label {
    color: #f5b301;
  }

  .media-input {
    transition: all 0.3s ease;
    border: 2px solid rgb(129, 128, 128);
    border-radius: 10px;
  }

.media-input:hover {
  background-color: var(--pcf-light-dark);
  color: var(--pcf-white);
  transition: all 0.3s;

}