<div class="container-md mt-60">
    <a href="#">

        
        <div class="carousel slide" id="homepageCarousel" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#homepageCarousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#homepageCarousel"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#homepageCarousel"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="assets/images/homepage/slide1.png"
                  class="d-block w-100 carousel-img"
                  alt="Slider Image 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/images/homepage/slide2.png"
                  class="d-block w-100 carousel-img"
                  alt="Slider Image 2"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets/images/homepage/slide3.png"
                  class="d-block w-100 carousel-img"
                  alt="Slider Image 3"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#homepageCarousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#homepageCarousel"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </a>
</div>

<main class="container my-4">
    <div class="row">
        <div class="col-md-8">
            <section class="blog-posts">
                <div *ngFor="let post of blogPosts" class="card mb-3" [routerLink]="['/Blog', post.id]" 
                style="cursor: pointer;">
                    <div class="row g-0">
                        <!-- Thumbnail -->
                        <div class="col-md-4">
                            <img [src]="post['TitleImage']" class="img-fluid rounded-start" alt="Post Image">
                        </div>
                        <!-- Blog Details -->
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ post['Title'] }}</h5>
                                <p class="card-text">{{ post['Intro'] }}</p>
                                <!-- Link to Blog Detail
                                <a [routerLink]="['/Blog', post.id]" class="btn btn-primary btn-sm">Đọc thêm</a> -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Nút Xem Thêm -->
            <div class="text-center mt-4">
                <button class="btn-more">Xem thêm</button>
            </div>
        </div>

        <!-- Sidebar Section -->
        <aside class="col-md-4">
            <div class="card p-3">
                <h3 class="h5">BÀI VIẾT MỚI</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Pacifist Ghi Nhận Doanh Thu 7.130 Tỷ Đồng Trong Quý III</a></li>
                    <li><a href="#">Pacifist được APEA vinh danh Thương hiệu truyền cảm hứng 2024</a></li>
                    <li><a href="#">Sự Kiện Gắn Kết Cùng Loạt Ưu Đãi Hấp Dẫn “Trao Thấu Hiểu - Tặng Yêu Thương”</a></li>
                    <li><a href="#">Quá trình kết tinh đá quý là gì & những lợi ích mà đá quý mang đến cho bạn</a></li>
                </ul>
            </div>
        </aside>
    </div>
</main>




  



    
