<div class="container-md mt-4">
    <h2 class="title">CHÍNH SÁCH ĐỔI TRẢ VÀ BẢO HÀNH</h2>
    <p class="content_text">
        Với mong muốn của Pacifist là bạn hài lòng với sản phẩm bạn đã chọn mua. <b>Chính sách đổi trả và bảo hành</b> nêu rõ mọi thủ tục cần thiết nếu bạn gặp vấn đề sau khi mua hàng. Pacifist hy vọng bạn đọc kỹ các quy định và điều kiện để đảm bảo quyền lợi của mình.
    </p>
    <hr style="border: 4px solid #8CC2DC;">

    <p class="sub_title">1. Chính sách đổi trả</p>
    <p class="sub_subtitle">a. Điều kiện đổi trả</p>
    <p class="content_text">
        Với sản phẩm mua online, thời hạn đổi sản phẩm là 14 ngày, tính từ ngày nhận được hàng. Chỉ áp dụng đổi hàng 01 lần duy nhất cho các sản phẩm.
    </p>
    <p class="content_text">
        Yêu cầu:
    </p>
    <ul>
        <li>Sản phẩm đổi phải còn mới, còn nguyên tem, hộp, nhãn mác và chưa có dấu hiệu đã sử dụng, đã đánh tráo hay biến dạng.</li>
        <li>Không áp dụng việc đổi hàng với các sản phẩm đang áp dụng chương trình Sale Off từ 50% trở lên, các sản phẩm thuộc phiên bản giới hạn (limited edition).</li>
        <li>Quý khách vui lòng giữ sản phẩm nguyên vẹn, chưa qua sử dụng, bao bì, giấy tờ chứng từ liên quan đính kèm còn đầy đủ, thông tin hóa đơn điện tử đầy đủ.</li>
    </ul>
    <p class="content_text">
        Trong trường hợp mong muốn đổi sang 01 sản phẩm khác, chúng tôi vẫn hỗ trợ bạn:
    </p>
    <ul>
        <li>Nếu bạn muốn đổi sang sản phẩm có giá trị cao hơn, bạn sẽ cần bù khoản chênh lệch tại thời điểm đổi (nếu có).</li>
        <li>Nếu bạn muốn đổi sang sản phẩm có giá trị thấp hơn, chúng tôi sẽ không hoàn lại tiền.</li>
    </ul>
    
    <hr>

    <p class="sub_subtitle">b. Quy trình và thủ tục đổi trả</p>
    <p class="content_text">
        Trong vòng 14 ngày kể từ ngày nhận hàng, nếu khách hàng có yêu cầu đổi trả và thỏa mãn những điều kiện nêu trên, vui lòng làm theo trình tự sau:
    </p>
    <ul>
        <li>Gọi điện thoại hoặc gửi email thông báo cho Pacifist về việc đổi trả hàng, nói rõ cụ thể tình trạng mà mình đang gặp phải, nếu như đó là do lỗi của công ty thì công ty sẽ hoàn toàn chịu trách nhiệm như đã cam kết.</li>
        <li>Khách hàng vui lòng gửi lại hàng cần đổi trả cho Pacifist.</li>
        <li>Với trường hợp trả hàng hoàn tiền, khách hàng sẽ nhận được số tiền hoàn lại vào cuối tháng.</li>
    </ul>
    <p class="content_text">
        Lưu ý:
    </p>
    <ul>
        <li>Việc đổi trả được thực hiện theo đúng quy định của công ty.</li>
        <li>Quy trình xử lý thủ tục đổi, trả được thực hiện trong vòng 03 ngày làm việc kể từ ngày nhận được thông tin, sản phẩm đổi trả và các giấy tờ liên quan từ khách hàng (không tính thời gian giao hàng lại).</li>
    </ul>
    
    <hr>

    <p class="sub_subtitle">c. Cước phí vận chuyển khi đổi trả hàng</p>
    <p class="content_text">
        Đối với đơn đổi hàng:
    </p>
    <ul>
        <li>Khách hàng muốn đổi sản phẩm đã mua sang sản phẩm khác, khách phải chịu chi phí vận chuyển chiều đổi hàng về kho và giao đến nhà khách lượt 2.</li>
        <li>Trường hợp do Pacifist giao nhầm sản phẩm cho khách, nhãn hàng có trách nhiệm phải đổi lại sản phẩm theo đúng đơn đặt hàng, phía nhãn hàng phải chịu toàn bộ chi phí vận chuyển chiều về kho và giao đến nhà khách lần 2.</li>
    </ul>
    <p class="content_text">
        Đối với đơn trả hàng, hoàn tiền:
    </p>
    <ul>
        <li>Hàng giao đến địa chỉ đã cung cấp mà khách không nhận hàng, muốn hủy đơn hàng; khách hàng sẽ phải chịu phí giao hàng chiều đến nhà khách.</li>
        <li>Cước vận chuyển khách phải chịu phụ thuộc vào trọng lượng cũng như khoảng cách giao hàng được thông tin chi tiết ngoài vỏ hộp nhận hàng.</li>
    </ul>
    
    <hr style="border: 4px solid #8CC2DC;">

    <p class="sub_title">2. Chính sách bảo hành</p>
    <p class="content_text">
        Pacifist hiểu rằng đôi khi sản phẩm có thể xảy ra những vấn đề không mong muốn trong quá trình bạn sử dụng. Vì thế, Pacifist sẽ hỗ trợ bảo hành sản phẩm theo quy định bên dưới:
    </p>
    <ul>
        <li>Đối với các trang sức làm từ vàng, Pacifist hỗ trợ bảo hành trong vòng 06 tháng kể từ ngày mua với các trường hợp về lỗi kỹ thuật, nước xi và chỉnh ni, sau 6 tháng tính phí theo mức phí bảo hành.</li>
        <li>Đối với các trang sức làm từ bạc, Pacifist miễn phí bảo hành 3 tháng đầu về mặt kỹ thuật, nước xi. Từ tháng thứ 4 đến hết tháng thứ 12 áp dụng mức phí theo quy định.</li>
    </ul>
    
    <hr>

    <p class="content_text">
        Để thực hiện bảo hành, bạn vui lòng làm theo các bước sau:
    </p>
    <ul>
        <li>Ghi rõ tên, số điện thoại của bạn cùng tình trạng cần được bảo hành và để vào hộp.</li>
        <li>Gửi về trung tâm chăm sóc khách hàng tại địa chỉ: Số 669 đường Quốc lộ 1, Khu phố 3, phường Linh Xuân, quận Thủ Đức, TP. Hồ Chí Minh</li>
        <li>Khi gửi bảo hành sản phẩm, bạn vui lòng chịu một đầu phí chuyển đến kho Pacifist, chúng tôi sẽ chịu phí chuyển đến bạn khi việc bảo hành đã hoàn tất.</li>
    </ul>  
</div>
