
<div class="d-flex flex-column bg-gray py-3 h-100 fw-medium rounded-3">
    <a href="/My-Account/Profile" class="text-decoration-none text-dark py-3 ps-2 d-flex align-items-center">
      <span class="material-icons me-2">account_circle</span>
      <span>Thông tin tài khoản</span>
    </a>
    <a href="/My-Account/Buy-History" class="text-decoration-none text-dark py-3 ps-2 d-flex align-items-center">
      <span class="material-icons me-2">history</span>
      <span>Lịch sử mua hàng</span>
    </a>
    <a href="/My-Account/Voucher" class="text-decoration-none text-dark py-3 ps-2 d-flex align-items-center">
      <span class="material-icons me-2">local_offer</span>
      <span>Các ưu đãi</span>
    </a>
    <a href="/My-Account/ChangePassword" class="text-decoration-none text-dark py-3 ps-2 d-flex align-items-center">
      <span class="material-icons me-2">settings</span>
      <span>Đổi mật khẩu</span>
    </a>
    <a href="/logout" class="text-decoration-none text-dark py-3 ps-2 d-flex align-items-center">
      <span class="material-icons me-2">logout</span>
      <span>Đăng xuất</span>
    </a>
  </div>          
  
  
